<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Predictcost</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>

    <body>
        <div class="container my-5"> 
            <table>
                <td>
                    <a href="/" class="btn btn-primary">
                        <i class="fas fa-home ml-2"> Home </i></a> 
                </td> 
            </table> 
        </div>
        <div class="container my-5">
            <h3> Add Predictcost</h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10">
                        <form action="#" th:action="@{/predictcost/createPredictcost}" th:object="${predictcost}" method="post">

                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label for="rid" class="col-form-label"> Name</label> 
                                    <select class="form-control" th:field="*{Rid}"   id="rid">
                                        <option value="0">select operator</option>
                                        <option 
                                            th:each="rlist : ${recipes}" 
                                            th:value="${rlist.Id}" 
                                            th:text="${rlist.Namerecipe}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="total" class="col-form-label">Total</label> 
                                    <input type="text" th:field="*{Total}" class="form-control"
                                           id="total" placeholder="Total" />
                                </div>


                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value=" Submit ">
                                </div>
                                <div class="col-md-6">
                                    <a th:href="@{/predictcost/}"   class="btn btn-primary">
                                        <i class="fas fa-times-circle ml-2"> Cancel </i></a>
                                </div>
                                <input type="hidden" id="id" th:field="*{id}">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>